body {
    background-color: orange;
    display: flex;
    width: 1000px;
    height:1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a{
    display: block;
    color:blue;
    text-align: center;
    padding: 14px;
}

.logo {
    display: block;
    width: 350px;
    height: 250px;
}

nav {
    background-color: black;
    border-color: white;
}

main {
    background-color: white;
    border-color:blueviolet;

}

footer {
    background-color:aqua
}

table, th, td {
    border: 1px soild black;
}